a{
	color: #8DAD2A;
    text-decoration: none;
}

a:visited{
	color: #8DAD2A;
    text-decoration: none;
}


.page-wrapper .page-header .panel.wrapper{
	background-color: #8DAD2A;
}

.logo img{
	width: 299px;
	height: 40.5px;
}

.home-link-image-container{
	line-height: 150px;
}

.home-link-image-container img{
	width:310px;
	display: inline-block;
	vertical-align: middle;
}

.home-link{
	float: left;
    margin: 5px;
}

.home-link a{
	font-size: 20px;
	color: #8DAD2A;
}

.home-link a:visited{
	font-size: 20px;
	color: #8DAD2A;
}

.home-link h2{
	width: 100%;
	text-align: center;
}

.upsmap-container{
	padding: 20px;
}

.upsmap-container img{
	padding:5px;
	border:1px solid #000;
}

.upsmap-explanation{
	border: 1px solid #CCC;
    background-color: #eefaee;
    padding: 8px 15px;
    font-size: 12px;
    margin: 16px 0;
    line-height: 21px;
    color: #777;
}

.shipping-address-message{
	border: 1px solid #CCC;
    background-color: #eefaee;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    margin: 16px 0;
    line-height: 21px;
    color: #777;
}

.checkout-shipping-address .block-custom-info-title{
	display:none;
}

.checkout-shipping-address .order-comment-block-title{
	font-weight: bold;
}

.buckle-option-container{
	
}

.buckle-option-container img{
	display: block;
	width: 45%;
    margin: 10px 29px;
}

.product-add-form{
	border: 1px solid #ACA;
	padding: 22px;
    margin-bottom: 20px;
}

.product-options-wrapper .field{
	border-bottom: 1px solid #DDD;
	padding-bottom: 21px;
}

.product-options-wrapper .field.choice{
	border-bottom: none;
	padding-bottom: 0px;
}

.color-image-thumb-container {
    display: inline-block;
    width: 20%;
    margin: 14px;
    min-height: 100px;
    cursor: pointer;
    vertical-align: top;
}

.control .color-image-thumb-container{
	width: 60%;
}

.color-image-thumb-caption {
    text-align: center;
    font-size: 12px;
    color: #8dad29;
}

@media only screen and (max-width: 600px) {
	/*.color-image-thumb-container{
		display:none;
	}*/
	
	.color-image-selected{
		display:block;
	}
}

.initials-option-image{
	max-width: 100px;
}

.gift-card-link{
    font-size: 14px;
    margin-left: 20%;
    padding: 5px 14px;
    text-transform: uppercase;
    font-weight: bold;
    background-color: #CCCCCC;
    border-radius: 0 0 12px 12px;
    border-bottom: 1px solid #666666;
    border-right: 1px solid #666666;
    position: absolute;
    z-index: 100;
}

.gift-card-link:hover{
	text-decoration: none;
	border-bottom: 2px solid #666666;
    border-right: 2px solid #666666;
    text-shadow: 1px 2px rgb(255,255,255,0.5);
}

.gift-card-link span{
	font-size: 10px;
    font-weight: bold;
    color: #FF0000;
    position: relative;
    bottom: 2px;
    background-color: #ffaaaa;
    padding: 1px 5px;
    border-radius: 5px;
    border: 1px solid #FF0000;
    margin-left: 5px;
    text-shadow: none;
    display: inline-block;
    transform: rotate(-23deg);
}
