a{
	color: #8DAD2A;
    text-decoration: none;
}

a:visited{
	color: #8DAD2A;
    text-decoration: none;
}


.page-wrapper .page-header .panel.wrapper{
	background-color: #8DAD2A;
}

.logo img{
	width: 299px;
	height: 40.5px;
}

.home-link-image-container{
	line-height: 150px;
}

.home-link-image-container img{
	width:310px;
	display: inline-block;
	vertical-align: middle;
}

.home-link{
	float: left;
    margin: 5px;
}

.home-link a{
	font-size: 20px;
	color: #8DAD2A;
}

.home-link a:visited{
	font-size: 20px;
	color: #8DAD2A;
}

.home-link h2{
	width: 100%;
	text-align: center;
}

.upsmap-container{
	padding: 20px;
}

.upsmap-container img{
	padding:5px;
	border:1px solid #000;
}

.upsmap-explanation{
	border: 1px solid #CCC;
    background-color: #eefaee;
    padding: 8px 15px;
    font-size: 12px;
    margin: 16px 0;
    line-height: 21px;
    color: #777;
}

.shipping-address-message{
	border: 1px solid #CCC;
    background-color: #eefaee;
    padding: 8px 15px;
    font-size: 12px;
    font-weight: bold;
    margin: 16px 0;
    line-height: 21px;
    color: #777;
}

.checkout-shipping-address .block-custom-info-title{
	display:none;
}

.checkout-shipping-address .order-comment-block-title{
	font-weight: bold;
}

.buckle-option-container{
	
}

.buckle-option-container img{
	display: block;
	width: 65%;
    margin: 10px 29px;
}

.product-add-form{
	border: 1px solid #ACA;
	padding: 22px;
    margin-bottom: 20px;
}

.product-options-wrapper .field{
	border-bottom: 1px solid #DDD;
	padding-bottom: 21px;
}

.product-options-wrapper .field.choice{
	border-bottom: none;
	padding-bottom: 0px;
}

.color-image-thumb-container {
    display: inline-block;
    width: 200px;
    margin: 14px;
    height: 100px;
    cursor: pointer;
}

.color-image-thumb-caption {
    text-align: center;
    font-size: 12px;
    color: #8dad29;
}
